.section-cuadrado {
    display: flex;
    width: 40vw;
    background-color: gainsboro;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-triangulo {
    display: flex;
    width: 40vw;
    background-color: gainsboro;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-around;
}